<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672498338547-9rqom95ktejb01usvb5skles6kal4982.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672498338547-9rqom95ktejb01usvb5skles6kal4982</string>
	<key>API_KEY</key>
	<string>AIzaSyBKREgsZ8yj-KnEfoUDVDBVObhdm7uLcgs</string>
	<key>GCM_SENDER_ID</key>
	<string>672498338547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>px.LoginPage</string>
	<key>PROJECT_ID</key>
	<string>customlogin-97371</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-97371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672498338547:ios:b6de125a648817ae85c586</string>
</dict>
</plist>